.ui.dropdown .menu>* {
	white-space: normal !important;
	word-wrap: break-word !important;
}

.disabled_star{
	color: #da0b0b !important;
	text-shadow: 0 -1px 0 #a50303,-1px 0 0 #a50303,0 1px 0 #a50303,1px 0 0 #a50303!important;
	cursor: no-drop !important;
}

input.FP{
	text-align: center !important;
}

.inline-block{
	display: inline-block !important;
}

.estimate_maxHeight
{
	min-height: calc(70vh);
}

.margin-left-3{
	 margin-left: 3px !important;
}

#estimate{
	display: inline;
    float: left;
	/*background-color: #f0eed;*/
}

.suitable_staff{
	/*box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,.2)*/
}

.suitable_staff:hover{
	box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,.6)
}

.suitable_staff_content{
	background-color: white;
	color: #808080;
}

.no_margin{
	margin: 0 !important;
}

.no_padding{
	padding: 0 !important;
}

.margin_top_7{
	margin-top: 7px;
}

.suitable_staff_name{
    font-size: 18px;
    color: #1a69a4;
    font-weight: bold;
    min-height: 7vh;
}

.estimated_statistics_fixed{
    position: fixed !important;        
     /*left: 63vw; */
    width: 44vw !important;
}

.ui.grid>.column.suitable_staff:not(.row) {
    padding-top: 0rem;
    padding-bottom: 0rem;
}


.ui.dimmer .ui.loader.new_project:before{
	border: .2em solid rgba(0,0,0,.1);
}

.ui.dimmer .ui.loader.new_project:after{
    border-color: #767676 transparent transparent;
}

.ui.dimmer .ui.loader.new_project{
    color: black;
}

.new_project_action{
    border-top: 1px solid rgba(34,36,38,.15);
    padding: 1em;
}

.new_project_content{
	padding: 2em;
}

.margin_1em{
	margin: 1em;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

#suggest_suitable_staffs_view{
	margin-bottom: 3vh;
}

.estimate_step{
	max-width: 15.2vw;
    padding: 0.4em 0.8em !important;
}

.estimate_step .title{
	font-size: 1.1em !important;
}

.estimate_step .content{
	width: 10vw !important;
}

.estimate_step .icon{
	font-size: 1.7em !important;
}

#suitable_staff_content .ui.statistic+.ui.statistic {
    margin: 0 0 0 0.7em;
}

.datetime_picker_inline{
	display: inline-block !important;
}

.margin-top-2{
	margin-top: 2vh;
}